@font-face {
  font-family: Montserrat;
  src: local(Montserrat-ExtraLight),
    url(../fonts/Montserrat-ExtraLight.otf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Montserrat;
  src: local(Montserrat-SemiBold),
    url(../fonts/Montserrat-SemiBold.otf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Regular),
    url(../fonts/Poppins-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Bold), url(../fonts/Poppins-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(Poppins-Black), url(../fonts/Poppins-Black.otf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: WorkSans;
  src: local(WorkSans-Regular),
    url(../fonts/WorkSans-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
