/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p,
li,
textarea,
label,
input,
select {
  
}

h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  margin: 64px 0px 64px 0px;
}



h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}

a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

/**
* ------
* HEADER
* ------
*/

header {
  background-image: url("../img/header-background.svg");
  height: 288px;
}

.ULTRAVISION {
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Computer-Video-System {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.first-row,
.second-row {
  padding-top: 8px;
}

/**
* ----------
* Section1
* ----------
*/

#section1 h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  margin: 0px 0px 0px 34px;
}

#section1 p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #231f20;
}

#section1 .space-between-rows {
  height: 64px;
}

#section1 .row {
  display: flex;
}

/**
* ----------
* Section1  >  Image
* ----------
*/

#section1 .row-image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
}

#row-image-1 {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

#row-image-2 {
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end; 
}

#section1 img, #section2 img {
  object-fit: contain;
  mix-blend-mode: multiply;
}

#section1-image1 {
  padding-right: 16px;
}

/**
* ----------
* Section1  >  Description
* ----------
*/

#section1 .row-description {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: center;
}

#section1-row-description1 {
  padding: 0px 32px 0px 48px;
}

#section1-row-description2 {
  padding: 0px 48px 0px 32px;
}

#section1 .description-button {
  align-self: flex-end;
}

#section1 .description-content {
  margin-bottom: 30px;
}


/**
* ----------
* Section2
* ----------
*/

#section2 h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 65px 0px 0px 0px;
}

#section2 p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

#section2 .row {
  display:flex;
  justify-content: space-between;
  align-content: center;
}

/**
* ----------
* Section2  >  Description
* ----------
*/

#section2 .row-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /**/
  align-content: flex-start;
  margin-left: 60px;
}

#section2 .row-description p {
  margin: 32px 0px 32px 0px;
}

/**
* ----------
* Section3
* ----------
*/

#section3 {
  background-color: #231f20;
  padding-top: 64px;
}

#section3 h1 {
  color: #ffffff;
  margin-top: 0px;
}

.card .description {
  display: none; /*A CHANGER POUR DYNAMISME*/
  position: absolute;
  top:0px;
}

#section3 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.card{
  margin-bottom: 32px;
  position: relative;
  
}

.card:hover .description {
  display:block;
  background-color: rgba(35, 31, 32,0.81);
  height: 100%;
  width: 100%;
}


.card h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.card h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


/**
* ----------
* Section 4
* ----------
*/

#section4 {
background-color: #231f20;
}

#section4 h1 {
  color: #ffffff;
  margin-top: 0px;
  padding-top: 64px;
}

#section4 .row {
  display: flex;
  justify-content: center;
  
}

.form-row {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.personal-infos {
  margin: 0px 32px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  margin: 0px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
}

.message textarea {
  flex-basis: 100%;
  resize: none;
}


label, input, select, .message textarea {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

label {
  color: #ffffff;
  padding: 8px;
}
input, select, .message textarea {
  padding: 8px;
  color: #231f20;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  
}

/**
* ----------
* Other
* ----------
*/

.orange {
  color: var(--bright-orange);
}
.purple {
  color: var(--purple-pink);
}
.purplish {
  color: var(--purplish-blue);
}
.sunflower {
  color: var(--sunflower-yellow);
}
.tomato {
  color: var(--tomato);
}

.gradient-sunflower {
  background: linear-gradient(var(--sunflower-yellow), rgba(0, 0, 0, 0));
}
.gradient-tomato {
  background: linear-gradient(var(--tomato), rgba(0, 0, 0, 0));
}
.gradient-purple {
  background: linear-gradient(var(--purple-pink), rgba(0, 0, 0, 0));
}

.gradient-purplish {
  background: linear-gradient(var(--purplish-blue), rgba(0, 0, 0, 0));
}

.gradient-orange {
  background: linear-gradient(var(--bright-orange), rgba(0, 0, 0, 0));
}
.learn-more {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  width: 185px;
  height: 48px;
  border-radius: 15px;
  padding: 6px 32px 6px 32px;
  text-decoration: none;
}

.learn-more-sunflower {
  border: solid 4px var(--sunflower-yellow);
  color: var(--sunflower-yellow);
}
.learn-more-orange {
  border: solid 4px var(--bright-orange);
  color: var(--bright-orange);
}
.learn-more-white {
  border: solid 4px white;
  color: white;
}

.end-space {
  height:200px;
}